[package]
name    = "krill"
version = "0.1.1"
authors = ["Tim Bruijnzeels <tim@nlnetlabs.nl>", "Martin Hoffmann <martin@nlnetlabs.nl>"]

[dependencies]
actix-identity  = "0.1.0"
actix-web       = { version = "1.0.3", features = ["ssl"] }
actix-session   = "0.1.0"
actix-service   = "0.4.0"
base64          = "^0.10"
bcder           = "0.4.1-pre"
bytes           = "^0.4"
clokwerk        = "^0.1"
chrono          = { version = "^0.4", features = ["serde"] }
clap            = "^2.32"
derive_more     = "^0.13"
fern            = "^0.5"
futures         = "0.1"
hex             = "^0.3"
lazy_static     = "^1.1"
log             = "^0.4"
openssl         = { version = "^0.10", features = ["v110"] }
pretty          = "0.5.2"
rand            = "^0.5"
reqwest         = "^0.9.17"
rpki            = "0.7.1-pre"
serde           = { version = "^1.0", features = ["derive"] }
serde_json      = "^1.0"
syslog          = "^4.0"
toml            = "^0.4"
tokio           = "^0.1"
uuid            = "0.7"
xml-rs          = "0.8.0"

[build-dependencies]
ignore          = "^0.4"

[features]
default = []
extra-debug = [ "rpki/extra-debug" ]

[patch.crates-io]
rpki = { git = "https://github.com/NLnetLabs/rpki-rs", branch = "v6-only-roa" }
bcder = { git = "https://github.com/NLnetLabs/bcder" }