[package]
name    = "krill"
version = "0.6.1"
edition = "2018"
authors = [ "The NLnet Labs RPKI team <rpki-team@nlnetlabs.nl>" ]
description = "Resource Public Key Infrastructure (RPKI) daemon"
repository = "https://github.com/NLnetLabs/krill"
keywords = ["rpki", "routing-security", "bgp"]
readme = "README.md"
license = "MPL-2.0"

[dependencies]
base64          = "^0.10"
bcder           = "0.5.0"
bytes           = "^0.5"
chrono          = { version = "^0.4", features = ["serde"] }
clap            = "^2.32"
clokwerk        = "^0.1"
derive_more     = "^0.13"
fern            = { version = "^0.5", features = ["syslog-4"] }
futures         = "0.3.4"
futures-util    = "0.3.4"
hex             = "^0.3"
hyper           = "^0.13"
log             = "^0.4"
openssl         = { version = "^0.10", features = ["v110"] }
pretty          = "0.5.2" # for testing
rand            = "^0.5"
reqwest         = { version = "0.10.4", features = ["blocking", "json"] }
rpki            = "0.9.0"
serde           = { version = "^1.0", features = ["derive"] }
serde_json      = "^1.0"
syslog          = "^4.0"
tokio           = { version = "=0.2.13", features = ["rt-core", "macros", "time"] }
tokio-proto     = "0.1.1"
tokio-rustls    = "0.13.0"
toml            = "^0.4"
uuid            = { version = "0.7", features = [ "v4"] }
xml-rs          = "0.8.0"

[target.'cfg(unix)'.dependencies]
libc		    = "^0.2"
syslog		    = "^4.0"

[build-dependencies]
ignore          = "^0.4"


[features]
default = []
extra-debug = [ "rpki/extra-debug" ]

