name: E2E Test

on:
  push:
    paths-ignore:
      - 'Changelog.md'
      - 'doc/**'
      - 'LICENSE'
      - 'README.md'
      - 'tests/**'
      - 'test-resources/**'

jobs:
  krill_e2e_test:
    env:
      TF_VAR_size: 's-4vcpu-8gb'
      TF_VAR_domain: 'krill.cloud'
      TF_VAR_tags: '["krill", "e2etest"]'

    name: deploy_and_test
    runs-on: ubuntu-18.04
    steps:
    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch

    - name: Checkout Krill
      uses: actions/checkout@v2
      with:
        path: krill
        fetch-depth: 1

    - name: Checkout the E2E test framework (matching branch if exists)
      # Don't fail the job if this checkout fails
      continue-on-error: true
      uses: actions/checkout@v2
      with:
        repository: nlnetlabs/rpki-deploy
        path: rpki-deploy
        fetch-depth: 1
        ref: ${{ steps.extract_branch.outputs.branch }}

    # set an output we can conditionally depend on in the next step
    - name: Verify checkout success
      run: |
        if [ -d ${GITHUB_WORKSPACE}/rpki-deploy ]; then
          echo "::set-output name=success::true"
        else
          echo "::set-output name=success::false"
        fi
      id: verify_checkout

    # Only if previous checkout attempt fails. We can't use failure() as
    # continue-on-error: true causes failure() to be false even on failure.
    - name: Checkout the E2E test framework (master)
      if: ! steps.verify_checkout.outputs.success
      uses: actions/checkout@v2
      with:
        repository: nlnetlabs/rpki-deploy
        path: rpki-deploy
        fetch-depth: 1

    - name: Checkout RTRLIB (v0.7.0 tag)
      uses: actions/checkout@v2
      with:
        repository: rtrlib/rtrlib
        ref: v0.7.0
        path: rtrlib

    - name: Print GITHUB_WORKSPACE contents
      run: ls -la ${GITHUB_WORKSPACE}

    - name: Install Python 3 venv package
      run: |
        set -x
        sudo apt-get install -y python3-venv

    - name: Install RTRLIB with NDEBUG
      working-directory: ./rtrlib
      run: |
        set -x
        cmake -D CMAKE_C_FLAGS='-DNDEBUG' -D CMAKE_BUILD_TYPE=Release -D RTRLIB_TRANSPORT_SSH=No .
        make
        sudo make install
        sudo ldconfig

    - name: Install Terraform
      uses: marocchino/setup-terraform@v1
      with:
        version: "0.12.19"

    - name: Install Terraform plugins
      run: |
        set -x
        mkdir -p $HOME/.terraform.d/plugins/
        cp ${GITHUB_WORKSPACE}/rpki-deploy/terraform/plugins/terraform-provider-dockermachine $HOME/.terraform.d/plugins/

    - name: Print application versions
      run: |
        set -x
        docker --version
        docker-compose --version
        python3 --version
        terraform --version

    - name: Decrypt SSH key
      working-directory: ./rpki-deploy/terraform/krill-e2e-test
      run: |
        mkdir $HOME/secrets/
        echo "$SSH_KEY" > $HOME/secrets/ssh_key
        head -n 2 $HOME/secrets/ssh_key
        chmod 400 $HOME/secrets/ssh_key
      env:
        SSH_KEY: ${{ secrets.E2E_TEST_SSH_KEY }}

    # Don't lock the state file, otherwise if the user cancels the build via the
    # GitHub Actions UI the terraform destroy cleanup step will fail.
    - name: Deploy
      working-directory: ./rpki-deploy/terraform/krill-e2e-test/run_on_do
      timeout-minutes: 30
      run: |
        set -x
        terraform init
        terraform apply -lock=false -auto-approve -var "ssh_key_path=$HOME/secrets/ssh_key" -var "krill_build_path=${GITHUB_WORKSPACE}/krill"
      env:
        # Don't embed env var references in env var definitions here, instead
        # pass those using -var on the command line.
        TF_VAR_do_token: ${{ secrets.E2E_TEST_DO_TOKEN }}
        TF_VAR_run_tests: false

    - name: Run tests
      working-directory: ./rpki-deploy/terraform/krill-e2e-test/run_on_do
      run: |
        set -x
        terraform apply -auto-approve -var "ssh_key_path=$HOME/secrets/ssh_key" -var "krill_build_path=${GITHUB_WORKSPACE}/krill"
      env:
        # Don't embed env var references in env var definitions here, instead
        # pass those using -var on the command line.
        TF_VAR_do_token: ${{ secrets.E2E_TEST_DO_TOKEN }}
        TF_VAR_run_tests: true

    - name: Upload HTML test report
      uses: actions/upload-artifact@v1
      with:
        name: test-report
        path: /tmp/report.html

    - name: Dump diagnostics on failure
      if: failure()
      working-directory: ./rpki-deploy/terraform/krill-e2e-test/run_on_do
      run: |
        set -x
        terraform output docker_env_vars
        eval $(terraform output docker_env_vars)
        pushd ../lib/docker
        docker system info
        docker system events --since 60m --until 1s

    - name: Undeploy
      if: always()
      working-directory: ./rpki-deploy/terraform/krill-e2e-test/run_on_do
      run: terraform destroy -auto-approve -var "ssh_key_path=$HOME/secrets/ssh_key" -var "krill_build_path=${GITHUB_WORKSPACE}/krill"
      env:
        # Don't embed env var references in env var definitions here, instead
        # pass those using -var on the command line.
        TF_VAR_do_token: ${{ secrets.E2E_TEST_DO_TOKEN }}
